{% extends 'base.html.twig' %}

{% block title %}Edit Barticle{% endblock %}

{% block body %}
    <h1>Edit Barticle</h1>

    {{ include('barticle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_barticle_index') }}">back to list</a>

    {{ include('barticle/_delete_form.html.twig') }}
{% endblock %}
