{% extends 'base.html.twig' %}

{% block title %}New Barticle{% endblock %}

{% block body %}
    <h1>Create new Barticle</h1>

    {{ include('barticle/_form.html.twig') }}

    <a href="{{ path('app_barticle_index') }}">back to list</a>
{% endblock %}
