h1 {
    color:#E0A458 !important;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    margin:0 !important;
    background-color: white !important;
    color: black !important;
    margin:0 !important;
}
.info {
    width: inherit !important;
    padding-right: inherit !important;
    padding-left: inherit !important;
    margin-right: inherit !important;
    margin-left: inherit !important;
    width: 100% !important;
    max-width: 100% !important; 
}
header { 
    background-position: center center;
    background-size: cover;
    background-image: url('../img/smartphone.jpg') !important;
} 
#info  {
    width: 100% !important;
    overflow: visible !important;
    height: 20% !important;
 }
img {
    width: 100% !important;
}
nav {
     width: 100%;
}
header nav a{
    display:block !important;
    padding:.7em !important;
}
.entete { 
    justify-content: space-around !important;
    text-align: center !important;
}
.imgt {  
     height: 400px; 
    background:
    linear-gradient(rgba(45,48,71,0.5), rgba(45,48,71,0.5)),
    no-repeat center center / cover url("../img/smartphone.jpg") ;
     
}

.card-img-top { 
    height: 15vw !important; 
}
nav {
    display: flex !important;
    color: #E0A458 !important;
    align-content: center !important;
    justify-content:space-between !important;
    align-items:center !important;
}

.container-fluid, .rg, button, .btn , .navbar, .navbar-brand, .nav-link, th , td, nav, .card-title, .card-text, .card-body {
    display: flex !important;
    align-content: center !important;

    background-color: #2D3047 !important;
    color: #FFDBB5 !important;

}
button[type="submit"]{
    color:white !important;
}