{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
  <h1> CONTACT </h1>
  Le mail est en cours d'envoie !
{{ data.nom }}
{{ data.email }}
{{ data.sujet }} 



{% endblock %}
