{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    
        <hr>
            Mon ID :    {{ users.id }}
        <hr>
            Mon EMAIL :    {{ users.email }}
                 
      

 {% endblock %}
