{% extends 'base.html.twig' %}

{% block title %}Edit Bcommentaire{% endblock %}

{% block body %}
    <h1>Edit Bcommentaire</h1>

    {{ include('bcommentaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bcommentaire_index') }}">back to list</a>

    {{ include('bcommentaire/_delete_form.html.twig') }}
{% endblock %}
